.JobDisplay {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  &.featured {
    border-left: 5px solid var(--desaturated-dark-cyan);
    padding-left: 36px;
  }
  img {
    width: 88px;
    height: 88px;
  }
  .description {
    flex-shrink: 0;
    margin: 16px 24px;
    h5 {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 16px;
      span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        color: white;
        padding: 8px 8px 5px;
        height: 24px;
        border-radius: 999px;
        &.new {
          background-color: var(--desaturated-dark-cyan);
          margin-left: 18px;
        }
        &.featured {
          background-color: var(--very-dark-grayish-cyan);
          margin-left: 6px;
        }
      }
    }
    h4 {
      font-weight: bold;
      font-size: 18px;
      color: var(--very-dark-grayish-cyan);
      margin-bottom: 12px;
      &:hover {
        cursor: pointer;
        color: var(--desaturated-dark-cyan);
      }
    }
    p {
      font-weight: 500;
      font-size: 15px;
      color: var(--dark-grayish-cyan);
      span {
        color: var(--dark-grayish-cyan);
        margin: 15px;
      }
    }
  }
  .tablets {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-left: 16px;
    column-gap: 16px;
    row-gap: 19px;
  }
}

@media (max-width: 850px) {
  .JobDisplay {
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 36px 24px 24px;
    img {
      height: 48px;
      width: 48px;
      position: absolute;
      left: 24px;
      top: -24px;
    }
    &.featured {
      padding-left: 19px;
      img {
        left: 19px;
      }
    }
    .description {
      width: 100%;
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--dark-grayish-cyan);
    }
    .tablets {
      margin-left: 0;
      padding-top: 16px;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 500px) {
  .JobDisplay {
    .description {
      h5 {
        letter-spacing: -0.05em;
      }
      h4 {
        font-size: 15px;
        margin-bottom: 17px;
      }
      p {
        font-size: 13px;
        letter-spacing: 0.005em;
        span {
          margin: 9px;
        }
      }
    }
  }
}
