:root {
  /* Color styles */
  --desaturated-dark-cyan: rgba(91, 164, 164, 1);
  --very-dark-grayish-cyan: rgba(44, 58, 58, 1);
  --tablets-gray: rgba(238, 246, 246, 1);
  --background-gray: rgba(239, 250, 250, 1);
  --dark-grayish-cyan: rgba(123, 142, 142, 1);

  /* Effect styles */
  --drop-sh: 0 8px 9px 1px rgb(91 164 164 / 19%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  color: var(--desaturated-dark-cyan);
}

body {
  background-color: var(--background-gray);
}

header {
  width: 100%;
  height: 157px;
  background-color: var(--desaturated-dark-cyan);
  background-image: url("/bg-header-desktop.svg");
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: var(--drop-sh);
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1110px;
  min-width: 327px;
}

.tablet {
  color: var(--desaturated-dark-cyan);
  background-color: var(--tablets-gray);
  height: 32px;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 19px;
  cursor: pointer;
  &:not(:first-of-type) {
    margin-left: 16px;
  }
  &:hover {
    color: white;
    background-color: var(--desaturated-dark-cyan);
  }
}

