:root {
  /* Color styles */
  --desaturated-dark-cyan: rgba(91, 164, 164, 1);
  --very-dark-grayish-cyan: rgba(44, 58, 58, 1);
  --tablets-gray: rgba(238, 246, 246, 1);
  --background-gray: rgba(239, 250, 250, 1);
  --dark-grayish-cyan: rgba(123, 142, 142, 1);

  /* Effect styles */
  --drop-sh: 29px 0px 6px rgba(91, 164, 164, 0.19);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  
}
